<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to NBA Favorites</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1><img src="/images/nba-logo-transparent.png" alt="NBA Logo" style="height: 30px; vertical-align: middle; margin-right: 10px;">Welcome to the NBA Player & Team App!</h1>
    <p>Explore NBA players and teams, and save your favorites.</p>

    <nav>
      <ul>
        <li><a href="/players">Search Players</a></li>
        <li><a href="/teams">Search Teams</a></li>
        <li><a href="/favorites">View Favorites</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>